#clck,#clck2{
  border-radius: 50%;
  width:40px;
  height:40px;
  position: relative;
  top:10px;
  background-image:url(images/ser.png);
  background-position: center;
  background-size: contain;
  background-color: white;
  border: 0px;
}
#disp{
  padding: 5%;
  color: red;
}
#select,#select2{
  padding-left: 40px;
  width:40%;
  font-size: 1.1em;
  border: 0px;
}
#clck:hover{
background-color: #d9d9d9;
}
h1{
  font-family: monospace;
  font-weight: 900;
  font-size: 3em;
  text-align: center;
}
#updatetimestamp{
  float: right;
  color: 	 #bfbfbf;
}
canvas#state-infected,canvas#global-stat{
  margin-left: 10%;
 height: 40% !important;
 width: 80% !important;
}
.schart{
  margin-left: 10%;
 height: 40% !important;
 width: 80% !important;
}
canvas#state-deaths{
  margin-left: 10%;
 height: 40% !important;
 width: 80%  !important;
}
canvas#daily-confirmed{
  margin-left: 10%;
 height: 40% !important;
 width: 80% !important;
}
h2{
  color: #4d4d4d;
  margin-left: 15%;
  text-transform: capitalize;
}
canvas#state-recovered{
  margin-left: 10%;
 height: 40% !important;
 width: 80%  !important;

}
canvas#daily-recovered{
  margin-left: 10%;
 height: 40% !important;
 width: 80% !important;
}
.gap{
  margin: 5%;
}
.imageBack{
  background-image: url(images/bg.jpg);
  height: 250px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  color: white;
  font-weight: 900;
  font-size: 2em;
  padding: 5%;
}
.imageBackText{
  float: right;
}
.imageBack a{
  color: white;
  text-decoration: underline;
}
.imageBack a:hover{
  color:  #d9d9d9;
  text-decoration: none;
}
#TotalConfirmed,#TotalDeaths,#TotalRecovered{
  background-color:  #1a1a1a;
  opacity: 100%;
  background-color:  #0d0d0d;
  border-radius: 4%;
  padding: 5%;
  padding-left: 20%;
}
.gridg  {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  box-sizing: border-box;
  grid-column-gap: 10px;
  color: white;
}
#myVideo {
  width: 100%;
  height: 150px;
}

.col-sm-4{
  border-right: 1px black solid;
}
.col-sm-4 img{
  position: relative;
  left:50px;
  width:150px;
  height:100px;
}
footer{
  color: white;
  background-color:  #262626;
}

th, td {
  padding: 15px;
}
table{
  margin: 7%;
}
